.custom-nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #572c9c; /* Bootstrap primary color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.custom-nav-link:hover {
  color: #572c9c;
}

.custom-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.custom-bg {
  background-color: #dccdf0;
}

.main-page-bg {
  background-color: #f4effa;
  min-height: 100vh;
}

.main-page-text {
  margin-top: 100px;
}

.lost-found-button {
  background-color: #7758aa;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  margin: 0 1.5rem;
  min-width: 200px;
  font-weight: 600;

  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.lost-found-button:hover {
  background-color: #4a2589;
  transform: translateY(-1px);
  box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.06);
}

.lost-found-button:active {
  transform: translateY(0px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

.search-section {
  height: 25vh; /* 25% of viewport height */
  width: 100%;
}

.content-section {
  height: 75vh; /* Remaining 75% of viewport height */
  width: 100%;
  overflow-y: auto; /* Makes content scrollable if it overflows */
  padding: 20px;
}

/* If you need responsive adjustments */
@media (max-width: 768px) {
  .search-section {
    height: auto;
    min-height: 25vh;
  }
  
  .content-section {
    height: auto;
    flex: 1;
  }
}
